#title{
  background-color: #ff4c68;
  color: #fff;
}
h1{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding:3% 15%;
}
body{
  font-family : "Montserrat";
}
.navbar{
  padding: 0 0 5rem;
}
.navbar-brand{
  font-size: 2.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.1rem;
  font-family: "Montserrat";
}
.download-button{
  padding: 5% 3% 5% 0;
}
